<!-- Localization completed -->
<div class='content-wrapper fullscreen'>
    <tabset class='tabset'>
        <tab active="act.DASHBOARD" ng-click="openTab('DASHBOARD')">
            <tab-heading localized-change-tracking>tab.dashboard</tab-heading>
            <ng-include src="'app/components/main/view/dashboard.html'" ng-if="activeTab === 'DASHBOARD'"></ng-include>
        </tab>

        <tab active="act.DEVICES" ng-click="openTab('DEVICES')">
            <tab-heading localized-change-tracking>tab.devices</tab-heading>
            <ng-include src="'app/components/main/view/devices.html'" ng-if="activeTab === 'DEVICES'"></ng-include>
        </tab>

        <tab active="act.APPS" ng-if="hasPermission('configurations')" ng-click="openTab('APPS')">
            <tab-heading localized-change-tracking>tab.applications</tab-heading>
            <ng-include src="'app/components/main/view/applications.html'" ng-if="activeTab === 'APPS'"></ng-include>
        </tab>

        <tab active="act.CONFS" ng-if="hasPermission('configurations')" ng-click="openTab('CONFS')"
             data-hint-key="hint.step.1">
            <tab-heading localized-change-tracking>tab.configurations</tab-heading>
            <ng-include src="'app/components/main/view/configurations.html'" ng-if="activeTab === 'CONFS'"></ng-include>
        </tab>

        <tab active="act.FILES" ng-if="hasPermission('configurations')" ng-click="openTab('FILES')">
            <tab-heading localized-change-tracking>tab.files</tab-heading>
            <ng-include src="'app/components/main/view/files.html'" ng-if="activeTab === 'FILES'"></ng-include>
        </tab>

        <li ng-if="hasPermission('settings')"
                class="dropdown" ng-class="{'active': settingsTabActive}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span localized-change-tracking>menu.settings</span><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <tab active="act.DESIGN" ng-click="openTab('DESIGN')">
                    <tab-heading localized-change-tracking>tab.default.design</tab-heading>
                    <ng-include src="'app/components/main/view/settings/design.html'" ng-if="activeTab === 'DESIGN'"></ng-include>
                </tab>
                <tab active="act.COMMON" ng-click="openTab('COMMON')">
                    <tab-heading localized-change-tracking>tab.common.settings</tab-heading>
                    <ng-include src="'app/components/main/view/settings/common.html'" ng-if="activeTab === 'COMMON'"></ng-include>
                </tab>
                <tab active="act.USERS" ng-click="openTab('USERS')">
                    <tab-heading localized-change-tracking>tab.users</tab-heading>
                    <ng-include src="'app/components/main/view/settings/users.html'" ng-if="activeTab === 'USERS'"></ng-include>
                </tab>
                <tab  active="act.GROUPS" ng-click="openTab('GROUPS')">
                    <tab-heading localized-change-tracking>tab.groups</tab-heading>
                    <ng-include src="'app/components/main/view/settings/groups.html'" ng-if="activeTab === 'GROUPS'"></ng-include>
                </tab>
                <tab  active="act.LANG" ng-click="openTab('LANG')">
                    <tab-heading localized-change-tracking>tab.language</tab-heading>
                    <ng-include src="'app/components/main/view/settings/language.html'" ng-if="activeTab === 'LANG'"></ng-include>
                </tab>
                <tab  active="act.HINTS" ng-click="openTab('HINTS')">
                    <tab-heading localized-change-tracking>tab.hints</tab-heading>
                    <ng-include src="'app/components/main/view/settings/hints.html'" ng-if="activeTab === 'HINTS'"></ng-include>
                </tab>
                <tab active="act.PLUGINS" ng-click="openTab('PLUGINS')" ng-if="hasPermission('plugins_customer_access_management')">
                    <tab-heading localized-change-tracking>tab.plugins</tab-heading>
                    <ng-include src="'app/components/main/view/settings/plugins.html'" ng-if="activeTab === 'PLUGINS'"></ng-include>
                </tab>

                <tab ng-repeat="plugin in settingsPlugins" active="act['plugin-settings-' + plugin.identifier]"
                     ng-if="!plugin.settingsPermission || hasPermission(plugin.settingsPermission)"
                     ng-click="openTab('plugin-settings-' + plugin.identifier)">

                    <tab-heading>{{localization.localize(plugin.nameLocalizationKey)}}</tab-heading>

                    <ng-include src="plugin.settingsViewTemplate"
                                ng-if="activeTab === ('plugin-settings-' + plugin.identifier)"></ng-include>
                </tab>
                
            </ul>
        </li>

        <li class="dropdown" ng-if="functionsPlugins.length > 0" ng-class="{'active': pluginsTabActive}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span localized-change-tracking>menu.functions</span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <tab ng-repeat="plugin in functionsPlugins" active="act['plugin-' + plugin.identifier]"
                     ng-if="!plugin.functionsPermission || hasPermission(plugin.functionsPermission)"
                     ng-click="openTab('plugin-' + plugin.identifier)">
                    <tab-heading>{{localization.localize(plugin.nameLocalizationKey)}}</tab-heading>
                    <ng-include src="plugin.functionsViewTemplate"
                                ng-if="activeTab === ('plugin-' + plugin.identifier)"></ng-include>
                </tab>
            </ul>
        </li>
    </tabset>
</div>