<!-- Localization completed -->
<div ng-controller="DashboardTabController">

    <div class='form-group' ng-show='errorMessage'>
        <div class='error'><span>{{errorMessage}}</span></div>
    </div>

    <div class='form-group center' style="margin-top: 50px">
        <div class="col-sm-4">
            <h3 localized>dashboard.devices.enrollment</h3>

            <canvas id="enrollment" class="chart chart-doughnut"
                    chart-data="enrollmentData" chart-labels="enrollmentLabels" chart-colors="enrollmentColors">
            </canvas>

            <div class="row" style="margin-top: 25px">
            <div class="col-sm-6 align-right">
                <span localized>dashboard.devices.enrolled.total</span>:<br>
                <span localized>dashboard.devices.enrolled.monthly</span>:
            </div>
            <div class="col-sm-6" style="text-align: left">
                <strong>{{enrollmentData[0] + enrollmentData[1]}}</strong><br>
                <strong style="color: {{enrollmentColors[1]}}">{{enrollmentData[1]}}</strong>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h3 localized>dashboard.devices.status</h3>

            <canvas id="status" class="chart chart-doughnut"
                    chart-data="statusData" chart-labels="statusLabels" chart-colors="statusColors">
            </canvas>

            <div class="row" style="margin-top: 25px">
                <div class="col-sm-6 align-right">
                    <span localized>dashboard.devices.offline</span>:<br>
                    <span localized>dashboard.devices.idle</span>:<br>
                    <span localized>dashboard.devices.active</span>:
                </div>
                <div class="col-sm-6" style="text-align: left">
                    <strong style="color: {{statusColors[0]}}">{{statusData[0]}}</strong><br>
                    <strong style="color: {{statusColors[1]}}">{{statusData[1]}}</strong><br>
                    <strong style="color: {{statusColors[2]}}">{{statusData[2]}}</strong>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <h3 localized>dashboard.devices.installation.status</h3>

            <canvas id="install" class="chart chart-doughnut"
                    chart-data="installData" chart-labels="installLabels" chart-colors="installColors">
            </canvas>

            <div class="row" style="margin-top: 25px">
                <div class="col-sm-6 align-right">
                    <span localized>dashboard.devices.installation.failed</span>:<br>
                    <span localized>dashboard.devices.version.mismatch</span>:<br>
                    <span localized>dashboard.devices.installation.completed</span>:
                </div>
                <div class="col-sm-6" style="text-align: left">
                    <strong style="color: {{installColors[0]}}">{{installData[0]}}</strong><br>
                    <strong style="color: {{installColors[1]}}">{{installData[1]}}</strong><br>
                    <strong style="color: {{installColors[2]}}">{{installData[2]}}</strong>
                </div>
            </div>
        </div>
    </div>

    </div>