<div class="login-logo"><img src="images/logo.png"><span class="logo" localized>Shelter MDM</span></div>

<!-- Localization completed -->
<div ng-if="!isIE">
    <div class='panel panel-default login' ng-class='{"panel-danger": errorMessage, "panel-success": successMessage}'>
        <div class='panel-heading' ng-if='errorMessage'>{{errorMessage}}</div>
        <div class='panel-heading' ng-if='successMessage'>{{successMessage}}</div>
        <div class='panel-body' style="padding: 30px; background: #f6f8fc">
            <form name='loginForm' ng-submit='onLogin()'>
                <div class='form-group'>
                    <label for='username' localized>login.username</label>
                    <input type='text' class='form-control' id='username'
                           ng-model='login.username' localized-placeholder="login.username.placeholder"
                           required/>
                </div>
                <div class='form-group'>
                    <label for='password' localized>login.password</label>
                    <input type='password' class='form-control' id='password'
                           ng-model='login.password' localized-placeholder='login.password.placeholder'
                           required/>
                </div>
                <button type='submit' class='btn btn-default right' style="opacity: 1"
                        ng-disabled='loginForm.$invalid' localized>login.submit</button>
            </form>
        </div>
    </div>
</div>

<div class='content-wrapper width-1000' ng-if="isIE">
    <div localized>ie.browser.notice.1</div>
    <div ng-bind-html="'ie.browser.notice.2' | localize"></div>
</div>

<div class="login-footer">
    <span localized>app.name</span> <span localized>app.description</span>. (c) 2020 <a href="https://h-mdm.com">h-mdm.com</a>
</div>